vars:
  font-0-size: '10'
  font-1-size: '12'

display:
  primary: HDMI2
  secondary: DP1
  layout: xrandr --output DP1 --mode 1920x1080 --left-of HDMI2

polybar:
  networks:
  - enp1s0
  - enp2s0

i3:
  options:
  - gaps

  bindings:
    "$mod+Shift+Return": 'exec i3-sensible-terminal -e zsh -c "ssh devbox"'
    "$mod+Shift+p": 'exec ssh devbox rofi -theme glue_pro_blue -show drun'
    "$mod+p": 'exec --no-startup-id "rofi -font \\"DejaVu Sans Mono 6\\" -combi-modi window,drun,calc -dpi 192 -theme rofi -show combi -display-window \\"\\" -display-drun \\"\\" -display-calc \\"\\" -display-combi \\">> \\""'
    "$mod+o": 'exec dm-tool lock'
