vars:
  ssh_target: vm-work

display:
  primary: HDMI-2
  secondary: DP-1
  layout: xrandr --output DP-1 --left-of HDMI-2

polybar:
  networks:
  - enp1s0
  - enp2s0

  options:
  - kube-tools

i3:
  options:
  - kube-tools
  - gaps
