vars:
  mod: 'Mod1'
  font-0-size: '10'

display:
  primary: DP-2
  layout: xrandr --output HDMI-A-1 --mode 2560x1600

polybar:
  height: 25
  networks:
  - wlp9s0
  options:
  - battery

i3:
  options:
  - gaps

startup:
  - setxkbmap -option caps:swapescape
